<tr>
	<td>
		<input name="option_title[]" type="text" class="span3 option_title" value=""/>
		<input name="option_id[]" type="hidden" class="span3" value="{$tag1}"/>
	</td>
	<td><input name="option_stock[]" type="text" class="span2 option_stock" value=""/></td>
	<td><input name="option_normalprice[]" type="text" class="span2 option_normalprice" value=""/></td>
	<td><input name="option_dailiprice[]" type="text" class="span2 option_dailiprice" value=""/></td>
	<td><input name="option_chengbenprice[]" type="text" class="span2 option_chengbenprice" value=""/></td>
	<td><input name="option_scprice[]" type="text" class="span2 option_scprice" value=""/></td>
	<td><input name="option_xiangounum[]" type="text" class="span2 option_xiangounum" value=""/></td>
	<td><a href="javascript:;" onclick="deleteoption(this)" style="margin-top:10px;"  title="删除"><i class='fa fa-times'></i></a></td>
</tr>