{template 'common/header'}

<ul class="nav nav-tabs">
	<li {if $isjl == 0 && $status == ''}class="active"{/if}><a href="{php echo $this->createWebUrl('refund',array('isjl'=>0))}">退款管理(社群社区端)</a></li>
	<li {if $isjl == 1 && $status == ''}class="active"{/if}><a href="{php echo $this->createWebUrl('refund',array('isjl'=>1))}">退款管理(自发端)</a></li>

	<li {if $isjl == 0 && $status == -3}class="active"{/if}><a href="{php echo $this->createWebUrl('refund',array('isjl'=>0,'status'=>-3))}">退款成功管理(社群社区端)</a></li>
	<li {if $isjl == 1 && $status == -3}class="active"{/if}><a href="{php echo $this->createWebUrl('refund',array('isjl'=>1,'status'=>-3))}">退款成功管理(自发端)</a></li>
</ul>

{if $operation == 'display'}
<div class="main panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:15%;">姓名</th>					
					<th style="width:10%;">退款金额</th>
					<th style="width:15%;">提交时间</th>
					<th style="width:15%;">退款原因</th>
					<th style="text-align:right;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $tuikuan}
				<tr>
					<td>
						<div><span class="label label-info">{$tuikuan['realname']}</span></div>
						<div style="margin-top:5px;"><span class="label label-info">{$tuikuan['nickname']}</span></div>
					</td>
					<td>{$tuikuan['refund_price']}</span></td>
					<td>
						{php echo date('Y-m-d H:i:s', $tuikuan['tktime'])}<br />
					</td>
					<td>{$tuikuan['refund_desc']}</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('order',array('op'=>'detail','id'=>$tuikuan['id']))}" class="btn btn-info btn-sm">订单详情</a>
						{if $status == ''}
						<a href="javascript:;" class="btn btn-success btn-sm" onclick="out_cash('{$tuikuan['id']}','{$tuikuan['nickname']}','{php echo abs($tuikuan['refund_price'])}元');">同意退款</a>
						<a href="{php echo $this->createWebUrl('refund',array('op'=>'shoudong','id'=>$tuikuan['id']))}" onclick="return confirm('此操作不可恢复，确认吗？');return false;" class="btn btn-success btn-sm">手动确认退款</a>
						{/if}
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div>
{$pager}
<script type="text/javascript">

	function out_cash(ids,name,money) {
		require(['jquery', 'util'], function($, u) {
			var content =  '	<div class="form-group">';
				content += '	<h4>退款'+money+'</h4>';
				content += '	</div>';

			var footer =
					'<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>' +
					'<button type="button" class="btn btn-success">确定退款</button>';
			var diaobj = u.dialog(name?name:ids, content, footer);
			diaobj.find('.btn-default').click(function() {
				diaobj.modal('hide');
			});
			diaobj.find('.btn-success').click(function() {
				$.post("{php echo $this->createWebUrl('refund', array('op' => 'outcash'))}",{
					ids:ids,
				},function(resp) {
					if(resp.status==1){
						alert(resp.info);
						location.reload();
					}else{
						alert(resp.info.message);
					}
				});
			});
			diaobj.modal('show');
		});
	}
</script>
{/if}
{template 'common/footer'}