{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('merchant', array('op' => 'display'))}">代理商(未审核)</a></li>
	<li><a href="{php echo $this->createWebUrl('merchant', array('op' => 'display','status'=>1))}">代理商(已审核)</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('merchant', array('op' => 'tuandui'))}">团队管理</a></li>
</ul>

<div class="main">
	<div class="panel panel-info">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form action="./index.php" method="get" class="form-horizontal" role="form">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="cy163_salesjl" />
				<input type="hidden" name="do" value="merchant" />
				<input type="hidden" name="op" value="tuandui" />
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">关键词</label>
					<div class="col-xs-12 col-sm-4">
						<input class="form-control" name="keyword" placeholder="请输入关键词搜索" type="text" value="{$_GPC['keyword']}">
					</div>
					<div class="col-sm-4 col-xs-12">
						<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
						<button class="btn btn-default" type="button">总记录数：{$total}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="merchant">
		<div class="panel panel-default">
			<div class="panel-body table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:5%;">ID</th>
							<th style="width:20%;">代理商名称</th>
							<th style="width:30%;">认证信息</th>
							<th style="width:15%;">状态</th>
							<th style="text-align:right;">操作</th>
						</tr>
					</thead>
					<tbody>
					{loop $merchant $row}
					<tr>
						<td>{$row['id']}</td>
						<td>
							<div><img src="{php echo tomedia($row['avatar']);}" style="width:50px;height:50px;" /></div>
							<div style="margin-top:5px;"><span class="label label-default">{$row['name']}</span></div>
							<div style="margin-top:5px;"><span class="label label-default">{php echo date("Y-m-d H:i:s",$row['addtime'])}</span></div>
						</td>
						<td>
							{if $row['istz'] == 1}<span class='label label-success'>团长</span><br />{/if}
							<span>姓名：{$row['realname']}</span><br />
							<span>地址：{$row['address']}</span><br />
							<span>电话：{$row['telphone']}</span><br />
							<span>身份证：{$row['idcard']}</span>
						</td>
						<td>
							<span class='label label-success'>{php echo date('Y-m-d H:i:s',$row['tztime'])}成为团长</span>
						</td>
						<td style="text-align:right;">							
							<button type="button" data-toggle="modal" data-target="#tuanyuan{$row['id']}" class="btn btn-info btn-sm">查看{$row['xiajinum']}个团员</button>
						</td>
					</tr>
					{/loop}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{$pager}
</div>


{loop $merchant $row}
<div class="modal fade" id="tuanyuan{$row['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">{$row['name']}团队团员</h4>
			</div>
			<div class="modal-body">
				<table class="table table-hover table-striped table-condensed">
					<thead>
						<tr>
							<th style="width:25%;">名称</th>
							<th style="width:25%;">加入时间</th>
							<th style="text-align:right;">操作</th>
						</tr>
					</thead>
					<tbody>
						{loop $row['xiaji'] $rowchat}
							<tr class="trre{$rowchat['id']}">
								<td>
									<span class="label label-info">{$rowchat['name']}（{$rowchat['member']['nickname']}）</span>
								</td>
								<td>{php echo date("Y-m-d H:i:s",$rowchat['addtime'])}</td>
								<td style="text-align:right;">
									<a data-id="{$rowchat['id']}" class="btn btn-default btn-sm deldu" title="解除关系"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{/loop}
<script type="text/javascript">
$(function(){
	$('.deldu').click(function(){
		if(confirm("确定要解除关系吗？")){
			var chatid = $(this).attr('data-id');
			$.ajax({
				url:"{php echo $this->createWebUrl('merchant')}",
				data:{
					id:chatid,
					op:'deletetd',
				},
				dataType:'json',
				type:'post',        
				success:function(data){
					if(data.error == 1){
						alert(data.msg);
					}else{
						$('.trre'+chatid).remove();
					}
				},
			});
		}
	});
	
})
</script>
{template 'common/footer'}